.log-header {
    text-align: center;
    background-color: lightgrey;
    font-weight: bold;
}

.log-container {
    font-family: "Courier New",Courier, mono, serif;
    float: left;
}

.lines-view {
    overflow: hidden;
    word-break:break-all;
    border: 1px solid black;
    float:left;
    line-height: 15px;
}

.select-column {
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    float: left;
    font-size: 12px;
    min-height: 1px;
    border-top: 1px solid black;
}

.view-column {
    border-left: 1px solid;
    overflow: hidden;
    word-break:break-all;
}

.vicinity-panel {
    white-space: nowrap;
    overflow: hidden;
    word-break:break-all;
    width:250px;
    font-size:3px;
    line-height: 3px;
    float:left;
    position: relative;
}

.vicinity-scroll {
    opacity: 0.3;
    background-color: yellow;
    position: absolute;
    z-index: 100;
    width: 100%;
}

.scroll-bar {
    overflow-y: scroll;
    height:100%;
    width:20px;
}

.scroll-spacer {
    height:500%;
}

