<html ng-app="webless" ng-controller="ViewController">
<head>
    <script src="lib/angular.js"></script>
    <script src="lib/bs.js"></script>
    <script src="src/directives.js"></script>
    <script src="src/cache.js"></script>
    <script src="src/view-controller.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
<div ng-keydown="keyPressed($event)">
    <div>len: {{lines.length}} viewStart: {{lines[0].position}} viewScroll: {{viewScroll}} ({{viewUnwrappedScroll()}})
         | cached: {{cacheSize()}} fileSize: {{fileSize()}} | {{viewStyle()}} </div>
    <input type="button" ng-click="moveView(1)" value="down"/>
    <input type="number" ng-model="viewHeight" ng-change="updateViewSize()"/>
    <input type="number" ng-model="viewWidth" ng-change="updateViewSize()"/>
    <label><input type="checkbox" ng-model="isWrapped"/>Wrap</label>
     | Hide:
    <label><input type="checkbox" ng-model="showSelect"/>Select</label>
    <label><input type="checkbox" ng-model="showVicinity"/>Vicinity</label>
    <label><input type="checkbox" ng-model="showScrollbar"/>Scroll</label>


    <div class="log-container" ngc-wheelmove="wheelMoved($event)" tabindex="0">
        <div class="log-header" drag>
            <input id="log-name" type="text" ng-model="fileName"/>
            <input type="button" ng-click="init()" value="Load"/></div>
        <div ngc-scrolltop="scrollTop()" ng-style="viewStyle()" class="lines-view">
            <div ng-repeat="line in lines track by line.position" >
                <div ng-if="showSelect" class="select-column">{{line.position}}</div>
                <div class="view-column">{{line.line}}</div>
            </div>
        </div>

        <div ng-if="showVicinity" id="vicinity-panel" class="vicinity-panel">
            <div class="vicinity-scroll" ng-style="vicinityScrollStyle()"></div>
            <pre>{{scrollText}}</pre>
        </div>

        <div ng-if="showScrollbar" ngc-syncscroll="scrollTo($fraction)" id="scroll-bar" class="scroll-bar" ngc-scrolltop="scrollbarScroll()" ng-style="{height: viewHeight * lineHeight}">
            <div id="scroll-spacer" class="scroll-spacer"></div>
        </div>
    </div>
    <!--<div id="data">Data: {{httpData()}}</div>-->
</div>
</body>
</html>